{% extends "jdLayout.html.twig" %}
{% block body %}
    <h1>Bienvenu dans mon Blog Test yooooopi</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti deserunt dolor dolorem, earum error ex
        facilis impedit inventore molestias nam placeat quidem repellat. Animi ducimus magni quas quibusdam recusandae
        soluta! A ad architecto, assumenda dolore dolorem et, excepturi fugit in ipsum laboriosam, necessitatibus possimus
        quia quidem quis repellat reprehenderit.</p>
    <p>Dolore quod rem vero! Accusamus accusantium ad alias amet aperiam
        architecto asperiores autem commodi consectetur consequuntur culpa distinctio dolorem doloribus dolorum ducimus esse
        eveniet explicabo illum ipsa iure labore magnam magni necessitatibus nemo non nulla obcaecati provident quos
        recusandae reiciendis reprehenderit, repudiandae sed sit soluta tempore vel veniam. Ipsa, laudantium.
    </p>
{% endblock %}
